[submodule "class-01/demo/demo1"]
	path = class-01/demo/demo1
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-demo1
[submodule "class-05/Demo/dsa"]
	path = class-05/Demo/dsa
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-dsa
[submodule "class-09/dsa"]
	path = class-09/dsa
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-dsa
[submodule "class-17/Demo"]
	path = class-17/Demo
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-api
[submodule "class-18/Demo"]
	path = class-18/Demo
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-api
[submodule "class-19/Demo"]
	path = class-19/Demo
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-api
[submodule "class-20/Demo"]
	path = class-20/Demo
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-api
[submodule "class-20/dsa"]
	path = class-20/dsa
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-dsa
[submodule "class-26/Demo"]
	path = class-26/Demo
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-mvc
[submodule "class-27/Demo"]
	path = class-27/Demo
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-mvc
[submodule "class-28/Demo"]
	path = class-28/Demo
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-mvc
[submodule "class-29/Demo"]
	path = class-29/Demo
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-mvc
[submodule "class-31/Demo"]
	path = class-31/Demo
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-mvc
[submodule "class-32/Demo"]
	path = class-32/Demo
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-mvc
[submodule "class-33/Demo"]
	path = class-33/Demo
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-mvc
[submodule "class-35/dsa"]
	path = class-35/dsa
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-dsa

[submodule "class-36/dsa"]
	path = class-36/dsa
	url = https://github.com/DeltaVCode-Demo/cr-dotnet-401d5-dsa
